*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  background-color: rgb(101, 30, 30);
}
